#pics {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #dac28e;
    padding: 10px;
  }
  


  #pics > img {
    margin: auto;
  }


  .search-fields {
      text-align: center;
  }


  #loader {
      text-align: center;
  }

  #the-slide-show {
      margin:auto;
  }
